@import './../../../assets/bootstrap-variables';

nav#navigation-main {
    background: #3a3a3c;
    padding-bottom: 10px;
    padding-top: 10px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                color: white;
                cursor: pointer;
                display: block;
                font-size: 1.75em;
                padding: 10px 15px;
                &:hover {
                    color: #a3bf61;
                }
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}